
  
  .art-content .card-img-top {
    max-height: 400px;
    min-height: 300px;
    width: auto;
    margin: 0 auto;
  }

  .card-title {
    text-align: center;
  }

  .review-label {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .heading-row {
    margin-bottom: -0.5rem;
  }
  .rating-row {
    align-items: center;
  }

  .bookmark-icon {
    font-size: 1.5rem;
  }

.username-link {
    color: inherit;
    text-decoration: none;
  }
  
  .username-link:hover {
    color: rgb(101, 101, 241);
    text-decoration: underline;
  }
  