.home-page {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo-and-search {
    margin-top: 6rem;
  }
  
  
  .logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
  
  .shorten {
    width: 70%;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .shorten {
      width: 90%;
      margin: 0 auto;
    }
  }

  .search-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .search-btn {
    margin-left: 10px;
  }
  
  /* Responsive styling for the logo and text */

/* For small devices like phones */
@media (max-width: 575.98px) {
    .logo {
      width: 90px;
    }
  
    .gallery-grade-text {
      font-size: 2.5rem;
      margin-left: 10px;
    }
  }
  
  /* For medium devices like tablets */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .logo {
      width: 100px;
    }
  
    .gallery-grade-text {
      font-size: 3rem;
      margin-left: 15px;
    }
  }
  
  /* For large devices like desktops */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .logo {
      width: 125px;
    }
  
    .gallery-grade-text {
      font-size: 3.5rem;
      margin-left: 20px;
    }
  }
  
  /* For extra large devices like large desktops */
  @media (min-width: 992px) {
    .logo {
      width: 150px;
    }
  
    .gallery-grade-text {
      font-size: 4rem;
      margin-left: 20px;
    }
  }

  .horizontal-dropdown-menu {
    width: 100%; /* Adjust this value to control the width of the dropdown bar */
    margin-bottom: 1rem;
  }

  .horizontal-dropdown-menu .dropdown-item {
    white-space: nowrap;
  }

  .carousel .slide {
    height: 375px; /* Adjust this value to control the height of the carousel */
    /* get rid of the border */
    border: none !important;
  }

  .carousel-no-border {
    border: none !important;
  }
  
  .carousel-card-image {
    height: 100%;
    object-fit: cover;
  }

  .dropdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
  
  
  .details-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .details-dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .details-summary {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.5rem 1rem;
    background-color: #6c757d;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    user-select: none;
    max-width: 30%; /* Adjust the width here */
    margin: 0 auto; /* Add this line to center the button */
    /* on phone screens change width to 50% */
    @media (max-width: 575.98px) {
      max-width: 50%;
    }
  }
  
  
  
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    margin-right: 8px;
    transition: transform 0.2s ease;
  }
  
  .details-dropdown.open .arrow {
    transform: rotate(90deg);
  }
  
  .details-content {
    display: none;
    text-align: center;
    background-color: #c4d0d8;
  }
  
  .details-dropdown.open .details-content {
    display: block;
  }
  